.infinite-slider {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 1rem;
}

.infinite-slider__track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.infinite-slider__slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.infinite-slider__slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
